@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  font-family: "Rubik", sans-serif;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
header h1 {
  font-family: "Marck Script", cursive;
}
.row {
  display: flex;
}
.column {
  width: 33%;
}
.column > div {
  margin: 5px;
  overflow: hidden;
}
.image:hover img {
  transform: scale(1.1);
}
img {
  width: 100%;
  transition: all 0.8s;
  cursor: pointer;
}
.image {
  position: relative;
}
.likeShare {
  box-sizing: border-box;
  padding: 0 1rem;
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 222;
  bottom: 0.5rem;
  opacity: 0;
  transition: all 0.8s;
}
.likeShare a {
  transition: all 0.4s;
}
.likeShare a:hover {
  cursor: pointer;
  color: grey;
}
.image:hover .likeShare {
  opacity: 100%;
}
ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
li {
  list-style-type: none;
  margin: 0 15px;
}
li a {
  text-decoration: none;
  color: black;
  transition: all 0.2s;
}
li:hover a {
  color: rgb(0, 128, 128);
}
footer p {
  color: gray;
  font-size: 12px;
}
.contacts a {
  color: white;
  padding: 5px;
  padding-bottom: 1px;
  margin: 2px;
  border-radius: 4px;
  background-color: black;
}
footer {
  margin-bottom: 1rem;
}
